<template>
  <div>
    <v-row>
      <v-col cols="2">
        <v-card-title>
          <v-img :src="getField('image', article)" />
        </v-card-title>
      </v-col>
      <v-col cols="10">
        <v-card-title>
          <span>{{ getField('title', article) }}</span>
          <v-card-actions>
            <v-btn icon :href="getField('url', article)" target="_blank">
              <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card-title>
        <v-card-text>{{ normalizeText(getField('author', article)) }}</v-card-text>
        <v-divider class="ml-5 mr-5"></v-divider>
        <v-card-text>{{ getField('abstract', article) }}</v-card-text>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import config from '../config';

export default {
  name: "Article",
  props: ["article"],
  computed: {},
  methods: {
    getField(name, article) {
      if (!article) return '';
      switch (name) {
        case 'abstract':
          return article.abstract;
        case 'title':
          return article.title || article.headline.main;
        case 'image':
          if (article.multimedia.length > 0) {
            let pic = article.multimedia[0].url;
            if (pic.indexOf('http') === -1) {
              pic = `${config.siteBaseUrl}${pic}`;
            }
            return pic;
          }
          return config.defaultPic;
        case 'url':
          return article.url || article.web_url;
        case 'author':
          return article.byline
        default:
          return '';
      }
    },
    // Using this function because text-transform in CSS
    // does not allow to lowercase and the capitlize
    normalizeText (s) {
      if (typeof s !== 'string' || s.length === 0) return;
      return s.split(' ').map(w => {
        return w.charAt(0).toUpperCase() + w.slice(1).toLowerCase();
      }).join(' ')
    }
  }
};
</script>
