<template>
  <div>
    <v-card width="80%" class="mx-auto mt-5 pt-1 pl-5 pr-5 mb-5">
      <v-card-title class="mt-5">
        <h1 @click="reset()" :style="{ cursor: 'pointer'}">News</h1>
      </v-card-title>
      <v-card-text>
        <v-form @submit.prevent="searchArticles()">
          <v-row>
            <v-col cols="5">
              <v-text-field
                v-model="keyword"
                label="Search for..."
                clearable
                @keydown.enter="searchArticles()"
                @keydown.esc="resetSearch()"
                @click:clear="resetSearch()"
                @keyup="searchArticlesDebounce()"
              />
            </v-col>
            <v-col cols="2" class="mt-3">
              <v-btn @click="searchArticles()">Search</v-btn>
            </v-col>
            <v-col cols="5">
              <v-select
                v-model="section"
                :items="sections"
                :menu-props="{ top: true, offsetY: true }"
                label="Section"
                clearable
                @input="searchArticles()"
                @keydown.esc="resetSection()"
                @click:clear="resetSection()"
              ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-progress-linear
              :active="loading"
              :indeterminate="loading"
              absolute
              bottom
            ></v-progress-linear>
          </v-row>
          <v-alert
            v-if="error"
            text
            prominent
            type="error"
            icon="mdi-cloud-alert"
          >{{ error }}
          </v-alert>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { vm } from '../main';
import config from '../config';
import debounce from 'lodash/debounce'

export default {
  name: 'Header',
  props: ['sections', 'articles'],
  computed: {},
  data: () => ({
    apiKey: config.apiKey,
    apiURL: config.apiURL,
    section: 'home',
    loading: false,
    error: '',
    keyword: '',
    perPage: 10,
    page: 1
  }),
  methods: {
    searchArticles() {
      this.loading = true;
      this.section = this.section || 'home';
      
      if (!this.keyword) {
        return this.filterBySection();
      }

      const params = ((this.section && this.section !== 'home') ? `&fq=section_name:("${this.section}")` : '') +
        `&page=${this.page - 1}`;

      fetch(
          `${this.apiURL}search/v2/articlesearch.json?q=${this.keyword}${params}&api-key=${this.apiKey}`
        )
        .then(response => response.json())
        .then(data => {
          this.error = '';
          let totalPages = parseInt(data.response.meta.hits / this.perPage);
          if (data.response.meta.hits % this.perPage > 0) {
            totalPages++;
          }

          this.$emit('articles', data.response.docs);
          this.$emit('totalPages', totalPages);
          if (document.location.pathname !== `/${this.section}` || this.keyword.length !== 0) {
            this.$router.push({ path: `/${this.section}?${this.keyword}` })
          }

          this.loading = false;
        })
        .catch((e) => {
          this.parseError(e);
          this.loading = false;
        });
    },
    searchArticlesDebounce: debounce(function () {
      this.searchArticles()
    }, config.debounceDefaultTime),
    filterBySection() {
      const stauts = 200;
      this.loading = true;
      this.page = 1;
      this.$emit('page', this.page);
      this.$emit('totalPages', 1);

      if (!this.section) {
        this.section = 'home';
      }

      if (document.location.pathname !== `/${this.section}`) {
        this.$router.push({ path: `/${this.section}` })
      }

      fetch(
          `${this.apiURL}topstories/v2/${this.section}.json?api-key=${this.apiKey}`
        )
        .then(response => {
          status = response.status;
          return response.json();
        })
        .then(data => {
          this.error = '';
          this.$emit('articles', data.results);
          this.loading = false;
        })
        .catch((e) => {
          this.parseError(e);
          this.loading = false;
        });
    },
    parseError (e) {
      switch (parseInt(status)) {
        case 403:
          this.error = 'Error: Ups, section does not exist';
          break;
        case 429:
            this.error = 'Error: Too many request, please take a break';
        default:
          this.error = 'Error: Something bad happened!';
          console.error(e.toString());
          break;
      }
    },
    reset () {
      this.keyword = '';
      this.section = 'home';
      this.searchArticles();
    },
    resetSearch () {
      this.keyword = '';
      this.section = this.section || 'home';
      if (document.location.pathname !== '/home' || document.location.search !== '?') {
        this.$router.push({ path: `/${this.section}` });
      }
      event.target.blur();

      this.searchArticles();
    },
    resetSection () {
      this.keyword = this.keyword || '';
      this.section = 'home';
      if (document.location.pathname !== '/home' && this.keyword.length !== 0) {
        this.$router.push({ path: `/home?${this.keyword}` });
      }
    },
    updateFilters () {
      if (Object.keys(this.$route.query).length !== 0) {
        this.keyword = Object.keys(this.$route.query)[0];
      }
      if (this.$route.params.section && this.$route.params.section.length !== 0) {
        this.section = this.$route.params.section;
      }
    }
  },
  created() {
    this.updateFilters();
    this.searchArticles();
  },
  mounted() {
    this.$root.$on('searchArticles', (page) => {
      this.page = page;
      this.$emit('page', this.page);
      this.searchArticles();
    });
    if (this.sections.filter(s => s.value === this.$route.params.section).length > 0) {
      this.section = this.$route.params.section;
    } else {
      this.section = 'home';
    }
  }
};
</script>
