<template>
  <v-app>
    <Header
      v-bind:sections="sections"
      @articles="setArticles"
      @totalPages="setTotalPages"
    />
    <v-card
      class="mx-auto mt-2 pl-3 pr-3"
      width="80%"
      v-for="(article, index) in articles"
      :key="index"
    >
      <Article v-bind:article="article" />
    </v-card>
    <v-spacer class="pt-5"></v-spacer>
    <v-row v-if="totalPages !== 1">
      <v-col>
        <div class="text-center">
          <v-pagination
            v-model="page"
            :length="totalPages"
            :total-visible="totalPagesVisible"
            @input="searchArticles()"
          ></v-pagination>
        </div>
      </v-col>
    </v-row>
    <v-spacer class="pb-5"></v-spacer>
  </v-app>
</template>

<script>
import { log } from 'util';
import Article from "@/components/Article";
import Header from "@/components/Header";
import { vm } from '../src/main';
import config from '../src/config';

export default {
  name: 'App',
  components: {
    'Article': () => import('@/components/Article.vue'),
    'Header': () => import('@/components/Header.vue')
  },
  data: () => ({
    articles: [],
    show: false,
    sections: config.sections,
    page: 1,
    totalPages: 1,
    totalPagesVisible: 8
  }),
  methods: {
    setArticles (articles) {
      this.articles = articles;
    },
    setTotalPages (totalPages) {
      this.totalPages = totalPages;
    },
    searchArticles () {
      this.$root.$emit('searchArticles', this.page);
    }
  }
};
</script>
